body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.jogo-da-velha {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 200px;
	height: 200px;
}

.jogo-da-velha span {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 32.2%;
	height: 32.2%;
	border: solid 1px;
}
